<!-- basic html template to show locations available -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Locations</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Location</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip</th>
                  <th>Phone</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Petclinic-Bangalore</td>
                  <td>area 51</td>
                  <td>Bangalore</td>
                  <td>Karnataka</td>
                  <td>500001</td>
                  <td>+91 28**030</td>
                  <td>9am-9pm</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>Petclinic-Chennai</td>
                  <td>area 04</td>
                  <td>Chennai</td>
                  <td>Tamil Nadu</td>
                  <td>600001</td>
                  <td>+91 18**030</td>
                  <td>9am-9pm</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>Petclinic-Mumbai</td>
                  <td>area 19</td>
                  <td>Mumbai</td>
                  <td>Maharastra</td>
                  <td>980001</td>
                  <td>+91 19**044</td>
                  <td>8am-7.30pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

