<!-- html template  -->
<div class="container">
  <h1>About</h1>
  <p>
    <!-- This is a simple application that demonstrates an Angular 2 application. -->
  </p>

  <!-- give area name and google map location -->
    <h2>Location</h2>
    <p>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.821547821737!2d-73.985428684593!3d40.748440979328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
      1!3m3!1m2!1s0x89c25903a3b2c5d5%3A0x2e2b0d0c4b4b0f8a!2sEmpire+State+Building!5e0!3m2!1sen!2sus!4v1487877887550" width="600" height="450" frameborder="0"
      style="border:0" allowfullscreen></iframe> -->
    </p>

    <!-- give contact information -->
    <h2>Contact</h2>
    <p>
       <strong>Phone:</strong> 212-736-3100<br/>
       <strong>Email:gysd@jgsyd.com</strong>
       <strong>Address:350 5th Ave, New York, NY 10118</strong>
    </p>
    <p>
      <strong>Hours:</strong> 9am-5pm
    </p>


</div>